.footer {
  height: 32px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #dddddd;
}

.footer span {
  font-size: 1.1rem;
  font-weight: 300;
}
