table {
  width: 100%;
}

a {
  cursor: pointer;
}

.edit {
  margin-right: 8px;
}

.edit > i {
  color: #08009d;
}

.delete > i {
  color: #e7273a;
}

.action-column {
  width: 64px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: #08009d10;
  border-color: #08009d;
}
