<mat-card class="mat-elevation-z4">
  <mat-card-title> Edit Coin Valuation Parameter </mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        [(ngModel)]="valuationParameter.description"
        name="name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Weight (%)"
        [(ngModel)]="valuationParameter.weight"
        name="price"
      />
    </mat-form-field>
  </form>

  <button
    mat-raised-button
    (click)="updateValuationParameter()"
    color="primary"
  >
    Save
  </button>

  <button mat-raised-button (click)="cancel()" color="secondary">Cancel</button>
</mat-card>
